#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgrey;
}

#navbar li{
    float: left;
}

#navbar li{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li:hover{
    background-color: black;
    cursor: pointer;
}

.active{
    background-color: green;
}

footer{
    background-color: darkgrey;
    border: 3px solid white;
}

.footer_cat{
    margin-bottom: 3px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}