@import "header.css";
@import "products.css";

body{
    margin: 0;
    padding: 0;
}

.btn-up{
    position: fixed;
    display: none;
    cursor: pointer;
    right: 20px;
    bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: grey;
    padding: 15px 10px;
}

.btn-up--show {
    display: block;
}